.pop-up {
    position: absolute;
    width: 450px;
    height: 250px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vista-principal{
margin-top: -10%;
}

.titulo {
    font-size: 35px;
    margin-bottom: 20px;
}

.texto-pop-up {
    font-size: 20px;
    margin: 8px;
}

.fa-xmark {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 10px;
}

.fa-xmark:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.recitales_slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.recitales_slider_inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.recitales_slider_inner img {
    width: 100%;
    height: auto;
}

.user-container {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 1%;
    
}