html {
    height: 180vh;
}

#body-vista-principal{
    height: 180vh;
    align-items: flex-start;
}

#aside {
    height: auto;
    margin: 10px 0px 0px 5px;
}

main {
    margin: 10px;
}

.pop-up {
    position: fixed;
    z-index: 100;
    width: 450px;
    height: 250px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.titulo {
    font-size: 35px;
    margin-bottom: 20px;
}

.texto-pop-up {
    font-size: 20px;
    margin: 8px;
}

.fa-xmark {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 10px;
}

.fa-xmark:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.recitales_slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.recitales_slider_inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.recitales_slider_inner img {
    width: 100%;
    height: auto;
}

.user-container {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 1%;
    
}

#calendario {
    max-width: 100%;
    max-height: 300px;
    color: white;
}

.fc-content {
    background-color: #00a75c;
    transition: .2s ease all;
    padding: 3px;
}

.fc-content:hover {
    background-color:white;
    color: #000;
    cursor: pointer;
}

.fc-event {
    border: none;
}

.fc-event:hover {
    border: none;
}