html {
    height: 100vh;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
}

/* ESTILOS DE PAGINA VISTA PRINCIPAL--------------------------------------------------------------------------------------------------------------*/
#body-vista-principal {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#body-vista-principal h1,h2,h3,a,p,li,label {
    color: #f7f4f3;
    font-family: 'Merriweather Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px 10px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #f7f4f3;
}


h1 {
    font-size: 38px;
}

.fa-star {
    position: absolute;
    font-size: 30px;
    color: white;
}

.fa-star:hover{
    cursor: pointer;
    color:#D4AF37; 
} 

/* ASIDE */
#aside {
    height: 98%;
    min-width: 200px;
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #000;
    border-radius: 16px;
}

#nav__ul {
    display: flex;
    flex-direction: column;
    background-color: #111111;
    border-radius: 16px;
}

li {
    margin: 10px 10px;
}

li a {
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 10px 16px;
    color: white;
    background-color: #00a75c;
    border-radius: 36px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #1e8a59;
}

li:first-child a {
    color: #111111;
    background-color: #f7f4f3;
}

#song-playing {
    position: relative;
    margin-top: 8px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #111111;
    border-radius: 16px;
    text-align: center;
}


#song-playing-name {
    font-size: 22px;
    margin-bottom: 18px;
}

.song-playing__img-container {
    position: relative;
}

.song-playing__img-container .fa-star {
    top: 5px;
    right:  18px;
}

#song-playing img {
    margin-top: 0;
    width: 90%;
    align-self: center;
}

#song-playing p {
    background-color: #1e1d1d;
    font-size: 16px;
    margin-top: 20px;
    align-self: center;
    text-align: center;
    border-radius: 16px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

/* CONTENIDO PRINCIPAL */
#vista-principal {
    height: 98%;
    width: calc(100% - 16.3%);
    min-width: 1144px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    border-radius: 16px;
}

#header__vista-principal {
    background-color: #111111;
    padding: 10px 0 10px 0;
    display: flex;
    width: 100%;
    height: 80px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    justify-content: space-between;
}

#user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.user-container__user-info {
    margin-right: 30px;
}

.user-container__user-info p {
    font-size: 20px;
}

.user-container__user-info a {
    transition: all 0.5s ease;
}

.user-container__user-info a:hover {
    background-color: transparent;
    color: #00a75c;
}

#profile-img {
    width: 60px;
    height: 60px;
}
.title-container {
    margin-left: 30px;
}

#albums {
    padding: 30px 0px;
    overflow: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(AUTO-FILL,300px);
    grid-template-rows: repeat(AUTO-FILL, 300px);
    justify-content: center;
    justify-items: center;
    row-gap: 20px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #1e1d1d;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.album-container {
    position: relative;
    text-align: center;
    background-color: #1e1d1d;
    border-radius: 16px;
    padding: 20px;
    transition: all .3s ease;
}

.album-container:hover {
    cursor: pointer;
    background-color: #2e2d2d;
}

.album-container img {
    width: 185px;
    height: 220px;
}

.album-container .fa-star{
    top: 24px;
    right: 24px;
}

#song-progress {
    width: 100%;
    background-color: #1e1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#song-progress__audio-player {
    height: 60px;
    width: 350px;
}

.formulario {

    padding: 50px;
    display: flex;
    flex-direction: column;
    box-shadow:0 0 20px  #f7f4f3;
    border-radius: 10px;
    
  
}

.formulario_titulo {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    }

.formulario label{
    padding: 1px;
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
    color:#e0e7e4; 
}
.formulario input{
 margin-bottom: 15px;
 margin-top: 10px;
 padding: 10px;
 border: 1.5px solid #1e8a59;
 border-radius: 20px;
 outline: none;
 color:#434a47; 
 font-size: 15px;
}

.botton_inicio {
    background-color: #1e8a59;
    font-size: 15px;
    color: #f7f4f3;
    padding: 14px;
    border-radius: 30px;
    margin-bottom: 7px;
    border: none;
    cursor: pointer;
}

.botton_inicio:hover ,.formulario_registro button:hover{
    background-color: #00A75C;

}

.registrarse_en_el_inicio a {
    font-size: 14px;
    display: flex;
    justify-content: center;
    background-color: transparent; 
    text-decoration: none;
    color: #00A75C;
    margin: 10px;
    text-transform: uppercase;
}

.registrarse_en_el_inicio:hover a{
    background-color: transparent;
    color: #f7f4f3;
   

}
.formulario_registro{

    padding: 40px 50px ;
  
    display: flex;
    flex-direction: column;
    box-shadow:0 0 10px  #f7f4f3;
    border-radius: 10px;

    }

    .formulario_registro label{
        padding: 10px;
        font-size: 14px;
        margin-top: 5px;
        text-align: justify;
        color:#e0e7e4; 
    } 

    .formulario_registro input{
        padding: 5px;
        border: 1.5px solid #1e8a59;
        border-radius: 20px;
        outline: none;
        color:#434a47; 
        font-size: 13px;
      
       
    } 

    .formulario_registro button{
        margin-top: 10px;
        background-color: #1e8a59;
        font-size: 15px;
        color: #f7f4f3;
        padding: 14px;
        border-radius: 30px;
        margin-bottom: 7px;
        border: none;
        cursor: pointer;
    }




