.vista-premium-titulo h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #f0f6f3;
    font-family: 'Merriweather Sans', sans-serif;
}
.vista-premium-titulo h2 {
    font-size: 15px;
    color: #e0e0e0;
    font-family: 'Merriweather Sans', sans-serif;
    justify-content: center;
    text-align: center;
}

.vista-premium-titulo {
    margin-bottom: 20px;
    text-align: center;
}
.contenedor-vista-premium {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin: auto;
}

.vista-premium-card {
    width: 290px;
    height: 260px;
    margin: 20px;
    text-align: center;
    box-shadow: 3px 15px 5px rgba(0, 0, 0, 0.54);
    justify-content: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #fffcfc;
    transition: all 0.25s;
    overflow: hidden;
}
.vista-premium-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.vista-premium-card h2 {
    justify-content: center;
    padding: 5px;
    color: #111111;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
}

.vista-premium-card h3 {
    justify-content: center;
    color: #111111;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
}

.vista-premium-card li {
    margin-left:10px ;
    text-align: left;
    color: #111111;
    font-family: 'Merriweather Sans', sans-serif;
}
.vista-premium-card p {
    margin: 5px;
    justify-content: center;
    color: #111111;
    font-family: 'Merriweather Sans', sans-serif;
}

.vista-premium-card-listado {
    list-style: none;
}

.vista-premium-card-listado li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 15px;
    background-image: url(/img/black-checkmark-png-4.png);
    background-size: cover;
    margin-right: 10px;
}

.botton_premium {
    margin-top: 20px;
    background-color: #1e8a59;
    font-size: 15px;
    color: #f7f4f3;
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#user-container-pagar {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.user-container-pagar__user-info {
    margin-right:15px ;
}

.user-container-pagar__user-info a:hover {
    color: #00a75c;
}

#user-container-pagar img {
    width: 60px;
}

.botton_premium:hover {
    background-color: #00a75c;
}